@page
@model Projekt.NET.Pages.ProductModel

@{
    ViewData["Title"] = "Strona produktu";
    ViewData["Page"] = "Strona produktu";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ImgPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ImgPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-10">
            Kategorie
        </dt>
        <dd class="col-sm-10">
            @Model.DisplayProductCategories()
        </dd>
    </dl>

    <a asp-page="/Cart/Add" asp-route-id="@Model.Product.Id">
        <button class="btn btn-primary">Dodaj do koszyka</button>
    </a>
</div>
<div>
    <a asp-page="./Products">Back to List</a>
</div>
